body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.container {
    background: white;
    padding: 25px;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

input, button {
    width: 100%;
    padding: 10px;
    margin: 6px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.opcoes {
    margin: 10px 0;
}

.metodo {
    display: none;
}

/* Exibe a área do cartão quando o botão Cartão for selecionado */
#pag-cartao:checked ~ .cartao {
    display: block;
}

/* Exibe a área PIX quando selecionado */
#pag-pix:checked ~ .pix {
    display: block;
}
