body{
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    
}
main{
    width: 100vw;
    height: 100vh;
    padding: 0px;
    margin: 0px;
}
header{
    background-color: #a2a885;
    margin: 10px;
    padding: 0px;
    display: flex;
    margin: auto;

}
#cabecalho{
    color: white;
    font-size: 24px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0px;
    
}
#navegacao{
    margin: 8px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #64754a;
    margin: 0px;
    width: 80px;
    height:100vh;
}
a{
    color: white;
}
a:hover{
    color: #b9caa1;
}


/* img{
    width: 100vw;
    height: 100vh;

}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 15px;
}
nav ul li a {
    text-decoration: none;
    color: black;
}
nav ul li a:hover {
    text-decoration: underline;
} */
