body{
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    background-color: #e4f9f1;
}
main{
    width: 100vw;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    display: flex;
}
header{
    background-color: #64754a;
    margin: 10px;
    padding: 0px;
    display: flex;
    margin: auto;
    font-family: monospace;
}
#cabecalho{
    color: white;
    font-size: 24px;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0px;
    font-size:0.8em;
    height:6vw;
}
#navegacao{
    margin: 8px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #37402a;
    margin: 0px;
    width: 10vw;
    height:100vh;
    color:#DCE2B7;
}
p{
    display: flex;
    align-items:center;
    flex-direction:column;
    justify-content:center;
    margin:30px;
}
a{
    color: white;
    text-decoration:none;
}
a:hover{
    color: #b9caa1;
}
#conteudo{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    width: 100%;
}
#quartos{
    display:inline-block;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    width: 100%;
}
#separar{
    display:inline-block;
    margin:50px;
    padding: 20px;
    background-color: #aebb9a;
    border-radius: 10px;
}
.mudar{
    display: flex;
    flex-direction:column;
    align-content: flex-start;
    font-family: 'Courier New', Courier, monospace;


}
#formulario{
    background-color:rgb(255, 251, 251);
    height: 60vh;
    width: 40vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius:50px;
    box-shadow: 5px 4px 3px 2px rgb(224, 224, 224);

}
label{
    margin-right: 15px; /* Espaço à direita para labels lado a lado */
    margin-bottom: 10px; /* Espaço abaixo para labels em linhas diferentes */
    display: inline-block; 
    margin-right: 5px;
    font-family: 'Courier New', Courier, monospace;
    
}
input{
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color:#eaeaea;
}
form{

    align-items: center; /* Alinha verticalmente os itens */
    flex-direction: row;

}
button{
    margin-top: 10px;
    padding: 5px;
    width: 100px;
    border-radius: 5px;
    background-color: #64754a;
    color: white;
    border: none;
}

button:hover{
    background-color: #526038;
    cursor: pointer;
}
h2{
    font-family: 'Courier New', Courier, monospace;
}
